.ingredient-card{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin:auto;
    margin-left: 25px;
    margin-bottom: 8px;
}

.ingredient-card-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-left: 0px;
    margin-right: 35px;
}

.ingredient-card-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-right: 0px;
}

.ingredient-card-name{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;

    color: #3E4147;
}

.ingredient-card-amount{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;

    color: #3E4147;
}

.ingredient-card-type{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;

    color: #3E4147;
}

.ingredient-type-star{
    font-size: 30px;
    color: #CC4425;
    /* margin: 4px; */
    margin-right: 35px;
}

.ingredient-alternatives-dropdown{
    display: flex;
    flex-direction: column;
}

.alternative-option{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.dropdown-button{
    padding: 12px;
    padding-left: 28px;
    padding-right: 4px;
    background: #FFFFFF;
    border: 1px solid #999;
    border-radius: 8px;
    margin-right: 6px;
}

.dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #555; 
}

.ingredient-type-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;


    width: 30px;
    height: 30px;
    border: 2px solid #999;
    border-radius: 4px;

    cursor: pointer;
    margin-right: 40px;
}

.ingredient-type-checkbox:checked::before {
    content: '\2713'; /* Unicode character for a checkmark */
    color: #CC4425; 
    font-size: 28px;
    line-height: 30px; 
    text-align: center;
}
