.homepage{
    display: flex;
    height: 100vh;
}

.homepage-left{
    width: 35%;
    background-color: #CC4425;
    padding: 10px;
    overflow-y: auto;
}

.recipelist-card{
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    background-color: #ffffff;
    border-radius: 0px 8px 8px 0px;
    margin-bottom: 5px;
    margin-left: -10px;
}

.recipelist-card-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #CC4425;

    padding-top: 15px;
    padding-left: 15px;
    align-items: center;
    
}

.recipelist-card-info{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #3E4147;
    padding-top: 10px;
    padding-left: 15px;
}

.recipelist-card-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: auto;
    margin-left: 0;
}

.recipelist-card-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 30px;
}

.recipe-card{
    width: 70%;
    background: #ffffff;
    overflow-y: auto;
}

.recipe-card-header{
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.made-it-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    gap: 8px;
    margin-right: 20px;

    background: #3E4147;
    border-radius: 8px;
    border: none;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.recipe-card-title-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 0px 6px 60px;

    position: relative;
    max-width: 730px;
    background: #EAECEF;
    border-radius: 0px 8px 8px 0px;

    position: relative;
    display:flex;
    flex-direction: row;
}

.recipe-card-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #363636;
}

.recipe-card-title-card-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: auto;
    margin-left: 0;
    margin-right: 20px;
}

.recipe-card-title-card-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px;
    margin: auto;
}

.recipe-card-first-row{
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.recipe-card-time{
    display: flex;
    align-items: center;
}

.clock-image{
    margin-top: 5px;
    margin-bottom: 5px;
}
.recipe-card-ingredients{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: auto;
    margin-left: 0;
}

.recipe-card-about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
}

.recipe-card-section{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #000000;
    margin: 20px;

    padding: 0px 20px 10px 20px;
    border-bottom: 3px solid #CC4425 ;
}

.recipe-card-instruction-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    max-width: fit-content;

}
.recipe-card-instruction-index {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    
    color: #CC4425;
    padding-right: 8px;
}

.recipe-card-instruction{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;

    color: #000000;
}